.row
  .col-xs-12.text-center
    %h1 Zomato Attach

    = form_tag search_restaurants_path, method: :post, remote: true do
      = text_field_tag :query, nil, id: 'restaurant-search', class: 'form-control', placeholder: 'search', value: last_query
      = number_field_tag :latitude, nil, id: 'latitude', hidden: true, value: last_latitude
      = number_field_tag :longitude, nil, id: 'longitude', hidden: true, value: last_longitude

    = form_tag filter_restaurants_path, method: :post, remote: true do
      = text_field_tag :shown_ids, nil, id: 'filter-restaurants-input', hidden: true
      = submit_tag 'Filter Bookmarks', class: 'btn btn-default btn-primary'

    %button.btn.btn-success.btn-s.hidden#clear-filter
      = fa_icon 'refresh'

.row.text-center#main-spinner
  .col-xs-12
    = image_tag asset_path('spinner.svg')

.row
  .col-xs-12
    #restaurant-list-container

