.restaurant-container{ id: "restaurant-container-for-#{restaurant['id']}" }
  .row
    .col-xs-2
      %img.img-responsive.img-thumbnail{ src: restaurant['thumb'] }
    .col-xs-10
      %h4
        = link_to restaurant['name'], restaurant['url'], target: '_blank', class: 'zomato-link'
      %p
        %b Neighborhood:
        = restaurant['location']['locality']
      %p
        %b Cuisines:
        = succeed '.' do
          = restaurant['cuisines']
      %p
        %b Price Range:
        = restaurant['currency'] * restaurant['price_range'].to_i
      %p
        %b Average Rating:
        = restaurant['user_rating']['rating_text']
        = succeed ')' do
          = "(#{restaurant['user_rating']['aggregate_rating']}"

  .row
    .col-xs-12
      .hr
      .row
        .col-xs-6.attachment-container{ id: "#{restaurant['id']}-image-container" }
          %b Image Notes
          %br
          - restaurant['rest_obj'].attachments.each do |att|
            - if att.file.present?
              %a.attachment-popup-link{ href: att.file.url }
                = image_tag att.file.url(:thumb), class: 'img-thumbnail'
        .col-xs-6.text-notes-container.clearfix{ id: "#{restaurant['id']}-text-notes-container" }
          %b Text Notes
          %br
          = form_for restaurant['rest_obj'], remote: true, html: {  } do |rf|
            = rf.text_area :text_notes, placeholder: 'Awesome Shrimp!'
            = rf.submit 'Update Text Note'
      .row
        .col-xs-6
          = form_for restaurant['rest_obj'], html: { multipart: true, class: 'form-inline' } do |rf|
            = rf.text_field :zomato_id, hidden: true, value: restaurant['id']
            = rf.fields_for :attachments do |af|
              - unless af.object.persisted?
                %span.btn.btn-primary.btn-default.btn-file
                  Attach...
                  = af.file_field :file
                %button.btn.btn-primary.btn-m.hidden{ type: 'submit' }
                  = fa_icon 'upload'
