// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hr {
  border: 1px solid #CB202D;
  margin-top: 4px;
  margin-bottom: 4px;
}

#restaurant-list-container {
  margin-top: 20px;
}

#restaurant-list-container > .restaurant-container {
  background-color: rgba(203, 32, 45, 0.1);
  border: 2px solid #CB202D;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;

  p {
    margin-bottom: 1px;
  }
}

.text-notes-container {
  textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  input {
    vertical-align: bottom;
  }
}

.zomato-link {
  color: #CB202D;
}

#restaurant-search {
  margin: auto;
  text-align: center;
  width: 60%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
